@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.mobile-menu {
  display: none;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  right: 0;
  width: 75%;
  padding: 15px 16px 15px 23px;
  box-shadow: -6px 4px 41px 0 #00000040;
  background-color: var(--color-white);
  z-index: 4;
  transform: translateX(110%);
  transition: transform var(--transition-duration);
  overflow-y: scroll;

  @include mobile {
    display: block;
  }

  &--active {
    transform: translateX(0);
  }

  &__search-input {
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    // margin-bottom: 8px;

    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  &__link {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;

    &:hover {
      color: var(--color-forest);
    }
  }

  .socials__list {
    gap: 16px;
  }
}

.mobile-overlay {
  display: none;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 3;
  backdrop-filter: blur(2px);

  @include mobile-above {
    display: none !important;
  }

  &--active {
    display: block;
  }
}















/* Toggle Menu Container */
.toggle-menu {
  max-width: 300px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  font-size: 16px;
}

/* Menu Header */
.menu-header {
  background-color: transparent;
  font-family: "Lexend", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover{
    color:  #4CAF50;
  }
}

/* Menu Content */
.menu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* Menu Items */
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  padding: 5px 0px 5px 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  &:hover{
    color:  #4CAF50;
  }
}

.menu-list li:hover {
  background-color:  #4caf4f1f;
}

.menu-list li:last-child {
  border-bottom: none;
}

/* Section Headers */
.section-header {
  padding: 10px 20px;
  background-color: #f1f1f1;
  color: #555;
  font-weight: bold;
  font-size: 16px;
}

/* Active State */
.active .menu-content {
  max-height: 1000px;
}

/* Arrow Icon Animation */
.arrow {
  transition: transform 0.3s ease-out;
  font-size: 1.2rem;
  display: inline-block;
}


  // display: inline-block;
  // transform: rotate(0deg);
  // animation: rotateDown 0.3s forwards;



@keyframes rotateDown {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Menu Icons */
.menu-icon {
  font-size: 1.2rem;
  color: #4CAF50;
}